<% div_for post do %>
  <div class='title'><%=link_to h(post.title), post %></div>
  <div class='content'><%= post.preface %></div>
  <div class='read_more'><%= link_to 'Read more &rarr;', post -%></div>
  <div class='info'>
    <div class='published'><%= post.created_at %></div>
    <div class='user'><%= link_to h(post.user.username), post.user %></div>
    <div class='comments'><%= link_to post.comments_count, post_path(post, :anchor=>'comments'), :title=>'Read Comments' %></div>
  </div>
<% end %>

